<article class="doc">
{{#with page.title}}
<h1 class="page">{{{this}}}</h1>
{{/with}}
{{{page.contents}}}
{{> pagination}}
<div class="page-feedback bottom">
   {{#if (eq page.attributes.lang 'ja')}}
   <span>このページは役に立ちましたか?</span>
   {{else}}
  <span>Did this page help?</span>
  {{/if}}
  <i class="far fa-thumbs-up click-icon" name="feedback-icon" onclick="toggleFeedbackWidgets(this)"></i>
  <i class="far fa-thumbs-down click-icon" name="feedback-icon" onclick="toggleFeedbackWidgets(this)"></i>
</div>
</article>
<style>
@media screen and (min-width: 1024px){
  .body {
    margin-top: 55px;
    margin-bottom: 20px;
  }
}
.hljs-keyword, .hljs-selector-tag, .hljs-subst {
    color: #383A42;
}
.hljs-meta {
    color: #6C6C6C;
}
.hljs-doctag, .hljs-string {
    color: #AD0F00;
}
.hljs-built_in, .hljs-builtin-name {
    color: #17749B;
}
.hljs-literal, .hljs-number, .hljs-tag .hljs-attr, .hljs-template-variable, .hljs-variable {
    color: #0A7C08;
}

.hljs-comment, .hljs-quote {
    color: #8E6102;
}
.hljs-class .hljs-title, .hljs-type {
    color: #004FFD;
}


.article {
/*  background-color: #f5f5f5;*/
  margin-top: 22px;
  color: #00233c;
  font-family: Inter,sans-serif;
}
.search-container {
  display: flex;
  height: 48px;
}
.nav{
  background: #f5f5f5;
}
</style>
