<!-- Footer SVGs -->
<svg aria-hidden="true" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
  style="position: absolute; width: 0; height: 0; overflow: hidden;">
  <defs>
    <symbol id="icon-social-linkedIn" viewbox="0 0 27.896 26.897" enable-background="new 0 0 27.896 26.897">
      <path id="path28_2_" inkscape:connector-curvature="0" fill="currentColor"
        d="M6.354,26.921V8.946H0.379v17.975H6.354z M3.367,6.491c2.083,0,3.381-1.38,3.381-3.105C6.708,1.622,5.45,0.281,3.407,0.281c-2.045,0-3.38,1.341-3.38,3.105c0,1.725,1.296,3.105,3.301,3.105H3.367L3.367,6.491z">
      </path>
      <path id="path30_2_" inkscape:connector-curvature="0" fill="currentColor"
        d="M9.659,26.921h5.975V16.884c0-0.538,0.037-1.075,0.198-1.459c0.431-1.073,1.413-2.186,3.064-2.186c2.159,0,3.027,1.649,3.027,4.065v9.616h5.972V16.613c0-5.52-2.947-8.089-6.877-8.089c-3.223,0-4.639,1.802-5.424,3.028h0.039V8.946H9.659C9.739,10.632,9.659,26.921,9.659,26.921L9.659,26.921z">
      </path>
    </symbol>
    <symbol id="teradata-logo" viewbox="0 0 107 21" fill="none" xmlns="http://www.w3.org/2000/symbol">
      <path
        d="M22.9484 13.5683H12.0322C12.4158 15.6001 13.8806 16.8743 15.6245 16.8743C16.7405 16.8743 18.1704 16.7366 19.1818 15.0147L22.5648 15.7379C21.3093 18.6995 18.7284 20.1115 15.5896 20.1115C11.5439 20.1115 8.23071 17.081 8.23071 12.6041C8.23071 8.12719 11.5439 5.06226 15.6593 5.06226C19.4957 5.06226 22.8089 7.98945 22.9484 12.2941V13.5683ZM12.1368 10.9166H19.0772C18.5889 9.09145 17.1939 8.29938 15.6942 8.29938C14.2294 8.29938 12.5902 9.16032 12.1368 10.9166Z"
        fill="#394951"></path>
      <path
        d="M63.5096 19.6638H59.7081V18.4585C58.5571 19.5261 56.9877 20.1115 54.9649 20.1115C51.3029 20.1115 47.9199 17.081 47.9199 12.6041C47.9199 8.12726 51.3029 5.06232 54.9649 5.06232C56.9877 5.06232 58.5571 5.64775 59.7081 6.71532V0H63.5096V19.6638ZM59.7081 12.5697C59.7081 9.95245 57.6504 8.29944 55.6276 8.29944C53.3257 8.29944 51.5819 9.95245 51.5819 12.5697C51.5819 15.1869 53.3257 16.8055 55.6276 16.8055C57.6504 16.8055 59.7081 15.1869 59.7081 12.5697Z"
        fill="#394951"></path>
      <path
        d="M94.5842 5.51001H89.3179V8.60939H94.5842C96.049 8.60939 97.0255 9.22926 97.0255 10.6412V10.8823H92.8752C89.2481 10.8823 87.1904 12.7075 87.1904 15.428C87.1904 18.2175 89.3876 20.0771 92.666 20.0771C94.6191 20.0771 96.049 19.4228 97.0255 18.493V19.6638H100.653V10.3657C100.653 7.02526 98.2462 5.57888 94.5842 5.51001ZM97.0255 13.9128C97.0255 15.738 95.2817 17.081 93.2589 17.081C91.7941 17.081 90.8175 16.3923 90.8175 15.3591C90.8175 14.3949 91.6197 13.7406 92.8404 13.7406H97.0255V13.9128Z"
        fill="#394951"></path>
      <path
        d="M72.1237 5.51001H66.8574V8.60939H72.1237C73.5885 8.60939 74.565 9.22926 74.565 10.6412V10.8823H70.4148C66.7877 10.8823 64.73 12.7075 64.73 15.428C64.73 18.2175 66.9272 20.0771 70.2055 20.0771C72.1586 20.0771 73.5885 19.4228 74.565 18.493V19.6638H78.1922V10.3657C78.1922 7.02526 75.7857 5.57888 72.1237 5.51001ZM74.565 13.9128C74.565 15.738 72.8212 17.081 70.7984 17.081C69.3336 17.081 68.3571 16.3923 68.3571 15.3591C68.3571 14.3949 69.1592 13.7406 70.3799 13.7406H74.565V13.9128Z"
        fill="#394951"></path>
      <path
        d="M40.561 5.51001H35.2947V8.60939H40.561C42.0258 8.60939 43.0023 9.22926 43.0023 10.6412V10.8823H38.852C35.2249 10.8823 33.1672 12.7075 33.1672 15.428C33.1672 18.2175 35.3644 20.0771 38.6428 20.0771C40.5959 20.0771 42.0258 19.4228 43.0023 18.493V19.6638H46.6294V10.3657C46.6294 7.02526 44.223 5.57888 40.561 5.51001ZM43.0023 13.9128C43.0023 15.738 41.2585 17.081 39.2357 17.081C37.7709 17.081 36.7944 16.3923 36.7944 15.3591C36.7944 14.3949 37.5965 13.7406 38.8172 13.7406H43.0023V13.9128Z"
        fill="#394951"></path>
      <path
        d="M33.2718 5.47559C30.9351 5.47559 29.261 6.4054 28.1101 8.0584V5.47559H24.3086V19.6638H28.1101V15.0837C28.1101 11.1233 29.7144 8.64384 33.2369 8.64384H33.4113V5.47559C33.3764 5.47559 33.3066 5.47559 33.2718 5.47559Z"
        fill="#394951"></path>
      <path
        d="M7.53325 16.22C6.94035 16.4266 6.34746 16.5644 5.89407 16.5644C4.63853 16.5644 3.8015 15.8412 3.8015 14.1193V8.54044H7.70763V5.4755H3.8015V1.99731H0V8.54044V14.4293C0 18.3207 2.23207 20.077 5.64993 20.077C6.83572 20.077 7.98664 19.836 9.48631 19.0439C8.68416 18.2518 7.95176 17.322 7.53325 16.22Z"
        fill="#394951"></path>
      <path
        d="M85.9698 16.5299C85.8303 16.5644 85.6908 16.5644 85.5513 16.5644C84.2958 16.5644 83.4587 15.8412 83.4587 14.1193V8.54044H87.4695V5.4755H83.4587V1.99731H79.6572V8.54044V14.4293C79.6572 18.3207 81.8893 20.077 85.3072 20.077C86.1442 20.077 86.8766 19.9393 87.7485 19.6293C86.5976 18.8373 86.1791 17.5286 85.9698 16.5299Z"
        fill="#394951"></path>
      <path
        d="M107 17.4944C107 18.8374 105.954 19.8706 104.489 19.8706C103.024 19.8706 101.978 18.8374 101.978 17.4944C101.978 16.2202 103.024 15.0837 104.489 15.0837C105.954 15.0837 107 16.2202 107 17.4944Z"
        fill="#F37440"></path>
    </symbol>
    <symbol id="icon-social-rss" viewbox="0 0 25 25" enable-background="new 0 0 25 25">
      <g fill="currentColor">
        <path
          d="M15.6,25h-1.2c0-7.9-6.4-14.4-14.4-14.4V9.4C8.6,9.4,15.6,16.4,15.6,25 M0,18.8V25h6.3C6.3,21.1,3.9,18.8,0,18.8">
        </path>
        <path d="M25,25h-1.3C23.8,11.9,13.1,1.3,0,1.3V0C13.8,0,25,11.2,25,25"></path>
      </g>
    </symbol>
    <symbol id="icon-social-twitter" viewbox="0 0 32.695 26.515" enable-background="new 0 0 25.837 33.214">
      <path fill="currentColor"
        d="M32.676,3.175c-1.198,0.53-2.485,0.89-3.838,1.05c1.379-0.827,2.44-2.135,2.938-3.695c-1.29,0.765-2.719,1.322-4.241,1.621c-1.218-1.298-2.954-2.109-4.874-2.109c-3.688,0-6.679,2.991-6.679,6.678c0,0.524,0.059,1.032,0.173,1.521C10.605,7.964,5.684,5.305,2.389,1.265C1.815,2.251,1.485,3.398,1.485,4.623c0,2.316,1.179,4.362,2.972,5.558c-1.095-0.034-2.125-0.335-3.026-0.834c0,0.028,0,0.056,0,0.083c0,3.236,2.302,5.935,5.357,6.548c-0.561,0.152-1.149,0.234-1.76,0.234c-0.429,0-0.849-0.041-1.256-0.119c0.85,2.652,3.316,4.584,6.238,4.638c-2.285,1.792-5.165,2.858-8.294,2.858c-0.539,0-1.07-0.031-1.593-0.094c2.956,1.896,6.466,3.002,10.238,3.002c12.284,0,19-10.176,19-19.001c0-0.289-0.006-0.578-0.019-0.864C30.648,5.689,31.779,4.513,32.676,3.175z">
      </path>
    </symbol>
    <symbol id="icon-social-youTube" viewbox="0 0 24 24">
      <path fill="currentColor"
        d="M19.615 3.184c-3.604-.246-11.631-.245-15.23 0-3.897.266-4.356 2.62-4.385 8.816.029 6.185.484 8.549 4.385 8.816 3.6.245 11.626.246 15.23 0 3.897-.266 4.356-2.62 4.385-8.816-.029-6.185-.484-8.549-4.385-8.816zm-10.615 12.816v-8l8 3.993-8 4.007z">
      </path>
    </symbol>
    <symbol id="icon-social-instagram" viewbox="0 0 26 26">
      <path fill-rule="evenodd" clip-rule="evenodd"
        d="M7.72323 0.277346C9.08858 0.215212 9.52485 0.200012 13.0012 0.200012H12.9972C16.4745 0.200012 16.9092 0.215212 18.2745 0.277346C19.6372 0.339747 20.5679 0.555483 21.3839 0.872019C22.2266 1.19869 22.9386 1.63603 23.6506 2.34803C24.3626 3.05951 24.7999 3.77365 25.1279 4.61552C25.4426 5.4294 25.6586 6.35954 25.7226 7.72222C25.784 9.08757 25.8 9.52384 25.8 13.0001C25.8 16.4764 25.784 16.9117 25.7226 18.277C25.6586 19.6391 25.4426 20.5696 25.1279 21.3837C24.7999 22.2253 24.3626 22.9394 23.6506 23.6509C22.9394 24.3629 22.2263 24.8013 21.3847 25.1283C20.5703 25.4448 19.6391 25.6605 18.2764 25.7229C16.9111 25.7851 16.4761 25.8003 12.9996 25.8003C9.52351 25.8003 9.08751 25.7851 7.72216 25.7229C6.35975 25.6605 5.42934 25.4448 4.61493 25.1283C3.77359 24.8013 3.05945 24.3629 2.34824 23.6509C1.6365 22.9394 1.19916 22.2253 0.871958 21.3834C0.555688 20.5696 0.339953 19.6394 0.277285 18.2767C0.215418 16.9114 0.199951 16.4764 0.199951 13.0001C0.199951 9.52384 0.215951 9.08731 0.277019 7.72196C0.338353 6.35981 0.554355 5.4294 0.871691 4.61526C1.19969 3.77365 1.63703 3.05951 2.34904 2.34803C3.06051 1.63629 3.77465 1.19896 4.61653 0.872019C5.43041 0.555483 6.36055 0.339747 7.72323 0.277346ZM12.5745 2.50658H12.5742C12.3155 2.50647 12.0757 2.50636 11.8529 2.50671V2.50351C9.46723 2.50618 9.00962 2.52218 7.82881 2.57551C6.5808 2.63284 5.90319 2.84085 5.45199 3.01685C4.85465 3.24938 4.42798 3.52672 3.97997 3.97472C3.53197 4.42273 3.2541 4.8494 3.0221 5.44674C2.84689 5.89794 2.63836 6.57529 2.58129 7.8233C2.51996 9.17265 2.50769 9.57585 2.50769 12.994C2.50769 16.4122 2.51996 16.8175 2.58129 18.1669C2.63809 19.4149 2.84689 20.0922 3.0221 20.5429C3.25463 21.1405 3.53197 21.5661 3.97997 22.0141C4.42798 22.4621 4.85465 22.7395 5.45199 22.9715C5.90346 23.1467 6.5808 23.3552 7.82881 23.4128C9.17816 23.4741 9.58323 23.4875 13.0011 23.4875C16.4188 23.4875 16.8241 23.4741 18.1735 23.4128C19.4215 23.3557 20.0993 23.1477 20.55 22.9717C21.1476 22.7397 21.573 22.4624 22.021 22.0144C22.469 21.5666 22.7468 21.1413 22.9788 20.544C23.154 20.0933 23.3626 19.416 23.4196 18.1679C23.481 16.8186 23.4943 16.4133 23.4943 12.9972C23.4943 9.58118 23.481 9.17585 23.4196 7.8265C23.3628 6.57849 23.154 5.90114 22.9788 5.45047C22.7463 4.85313 22.469 4.42646 22.021 3.97846C21.5732 3.53045 21.1474 3.25312 20.55 3.02111C20.0988 2.84591 19.4215 2.63738 18.1735 2.58031C16.8238 2.51898 16.4188 2.50671 13.0011 2.50671L12.5745 2.50658ZM19.8338 4.63206C18.9857 4.63206 18.2977 5.31927 18.2977 6.16754C18.2977 7.01555 18.9857 7.70356 19.8338 7.70356C20.6818 7.70356 21.3698 7.01555 21.3698 6.16754C21.3698 5.31953 20.6818 4.63153 19.8338 4.63153V4.63206ZM13.0011 6.42676C9.37097 6.42676 6.42773 9.36999 6.42773 13.0002C6.42773 16.6303 9.37097 19.5722 13.0011 19.5722C16.6313 19.5722 19.5735 16.6303 19.5735 13.0002C19.5735 9.37008 16.6312 6.4269 13.0011 6.42676ZM13.0012 8.73343C15.3575 8.73343 17.2679 10.6436 17.2679 13.0001C17.2679 15.3564 15.3575 17.2669 13.0012 17.2669C10.6447 17.2669 8.7345 15.3564 8.7345 13.0001C8.7345 10.6436 10.6447 8.73343 13.0012 8.73343Z"
        fill="currentColor"></path>
    </symbol>
    <symbol id="icon-social-facebook" viewbox="0 0 35 35" enable-background="new 0 0 35 35">
      <path fill="currentColor"
        d="M14.1,34.4V19H10v-5.6h4.1c0,0,0-2.3,0-4.7c0-3.7,2.4-7.1,8-7.1c2.2,0,3.9,0.2,3.9,0.2L25.8,7c0,0-1.7,0-3.5,0c-2,0-2.3,0.9-2.3,2.5c0,1.2,0-2.6,0,4.1h6L25.7,19H20v15.4L14.1,34.4L14.1,34.4z">
      </path>
    </symbol>
  </defs>
</svg>

<!-- Footer styles -->
<style>
footer.footer-nav ol,
footer.footer-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 100%;
  padding-right: var(--bs-gutter-x, 12px);
  padding-left: var(--bs-gutter-x, 12px);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1025px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1501px) {
  .container {
    max-width: 1320px;
  }
}

.row,
ul.row.footer-nav__nav {
  --bs-gutter-x: 24px;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) * -0.5);
  margin-left: calc(var(--bs-gutter-x) * -0.5);
}

.row > * {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}

.col {
  flex: 1 0 0%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

@media (min-width: 768px) {
  .col-md {
    flex: 1 0 0%;
  }

  .col-md-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .col-md-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
}

@media (min-width: 992px) {
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .justify-content-lg-end {
    justify-content: flex-end !important;
  }
}

@media (min-width: 1025px) {
  .col-xl-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .col-xl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}

.d-flex {
  display: flex !important;
}

.icon-social {
  width: 30px;
  height: 30px;
  padding: 6px;
  background: transparent;
  color: #101010;
}

.icon-social svg {
  width: 18px;
  height: 18px;
}

footer.footer-nav {
  background-color: #fff;
  font-family: Arial, helvetica, sans-serif;
  padding: 60px 0 40px;
  line-height: 1;
}

@media (max-width: 767px) {
  footer.footer-nav {
    padding-top: 20px;
  }
}

.footer-nav__top {
  padding-bottom: 60px;
}

@media (max-width: 767px) {
  .footer-nav__top {
    padding-bottom: 20px;
  }
}

.footer-nav__top svg {
  display: block;
}

.footer-nav__top .footer-nav__logo {
  display: inline-block;
}

.footer-nav__top .footer-nav__logo .teradata-logo {
  display: block;
  width: 107px;
  height: 21px;
}

.footer-nav__nav h2,
.footer-nav__nav span {
  font-family: RidleyGrotesk, Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 130%;
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 18px;
}

.footer-nav__nav ul a {
  font-size: 12px;
  line-height: 137%;
  color: #394951 !important;
  text-decoration: none;
}

.footer-nav__nav ul a:focus,
.footer-nav__nav ul a:hover {
  text-decoration: underline;
}

.footer-nav__nav ul li {
  margin: 16px 0;
  line-height: 1;
}

@media (max-width: 767px) {
  .footer-nav__nav {
    display: none !important;
  }
}

.footer-nav__bottom {
  margin-top: 90px;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .footer-nav__bottom {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.footer-nav__bottom .footer_social {
  margin: 0;
}

.footer-nav__bottom .footer_social a {
  background: #394951;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.footer-nav__bottom .footer_social a:focus svg,
.footer-nav__bottom .footer_social a:hover svg {
  color: #f37440;
}

.footer-nav__bottom .footer_social svg {
  max-width: 13px;
  transition: all 0.5s ease;
}

@media (max-width: 767px) {
  .footer-nav__bottom .footer_social {
    justify-content: flex-start;
    margin-top: 20px;
  }
}

.footer-nav__bottom .footer_social .icon-social {
  color: #fff;
  margin-left: 8px !important;
}

@media (max-width: 767px) {
  .footer-nav__bottom .footer_social .icon-social {
    margin-left: 0 !important;
    margin-right: 8px !important;
  }
}

.footer-nav__spacer {
  width: 100%;
  border-bottom: 1px solid #d7d7d7;
}

.footer-nav__baseline {
  align-items: baseline;
  margin-top: 24px;
  margin-bottom: 42px;
}

.footer-nav__baseline .copyright {
  font-size: 12px;
  display: block;
}

@media (max-width: 992px) {
  .footer-nav__baseline .copyright {
    margin-bottom: 20px;
  }
}

.footer-nav__baseline ul {
  display: flex;
}

.footer-nav__baseline ul li + li {
  margin-left: 16px;
}

@media (max-width: 767px) {
  .footer-nav__baseline ul li + li {
    margin-left: 0;
  }
}

.footer-nav__baseline ul a {
  font-size: 12px;
  color: #394951 !important;
  text-decoration: none;
}

.footer-nav__baseline ul a:focus,
.footer-nav__baseline ul a:hover {
  text-decoration: underline;
}

@media (max-width: 767px) {
  .footer-nav__baseline ul {
    display: block;
  }
}

.footer_social {
  display: flex;
  margin: 20px 0 32px;
  color: #f37440;
  justify-content: flex-end;
  align-items: center;
}

.footer_social .icon-social {
  width: 18px;
  height: 18px;
  margin-left: 20px;
  color: #f37440;
}

@media (max-width: 1024px) {
  .footer_social {
    margin: 0;
  }

  .footer_social .icon-social {
    padding: 0;
    line-height: 1;
  }

  .footer_social .icon-social:first-child {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .footer_social {
    margin: 0;
  }

  .footer_social .icon-social {
    padding: 0;
    line-height: 1;
  }

  .footer_social .icon-social:first-child {
    margin-left: 0;
  }
}
</style>

<!-- Footer markup -->
<footer class="footer-nav">
  <section class="container">
    <div class="row">
      <div class="col footer-nav__top">
        <a href="https://www.teradata.com/" class="footer-nav__logo" aria-label="Teradata">
          <svg class="teradata-logo">
            <use xlink:href="#teradata-logo">
            </use>
          </svg>
        </a>
      </div>
    </div>
    <ul class="row footer-nav__nav">
      <li class="col-12 col-md">
        <div>
          <span>Products</span>
          <ul>
            <li><a href="https://www.teradata.com/Vantage">Vantage Overview</a></li>
            <li><a href="https://www.teradata.com/Vantage/Console">Vantage Console</a></li>
            <li><a href="https://www.teradata.com/VantageCloud">Teradata VantageCloud</a></li>
            <li><a href="https://www.teradata.com/Cloud">Cloud Analytics</a></li>
            <li><a href="https://www.teradata.com/Cloud/Pricing">Cloud Pricing</a></li>
            <li><a href="https://www.teradata.com/Consulting">Consulting</a></li>
            <li><a href="https://www.teradata.com/Cloud/Deployment-Options">Deployment
                Options</a></li>
            <li><a href="https://www.teradata.com/Products/All-Products">View All Products</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="col-12 col-md">
        <div>
          <span>Industries</span>
          <ul>
            <li><a href="https://www.teradata.com/Industries/Automotive">Automotive</a></li>
            <li class=""><a href="https://www.teradata.com/Industries/Consumer-Packaged-Goods">Consumer Packaged Goods</a></li>
            <li><a href="https://www.teradata.com/Industries/Energy-and-Natural-Resources">Energy &amp; Natural Resources</a></li>
            <li><a href="https://www.teradata.com/Industries/Financial-Services">Financial
                Services</a></li>
            <li><a href="https://www.teradata.com/Industries/Government">Government</a></li>
            <li><a href="https://www.teradata.com/Industries/Healthcare">Healthcare</a></li>
            <li><a href="https://www.teradata.com/Industries/Life-Sciences">Life Sciences</a></li>
            <li><a href="https://www.teradata.com/Industries/Manufacturing">Manufacturing</a></li>
            <li><a href="https://www.teradata.com/Industries/Media-and-Entertainment">Media & Entertainment</a></li>
            <li><a href="https://www.teradata.com/Industries/Retail">Retail</a></li>
            <li><a href="https://www.teradata.com/Industries/Telco">Telco</a></li>
            <li><a href="https://www.teradata.com/Industries/Travel-and-Transportation">Travel &amp; Transportation</a></li>
            <li><a href="https://www.teradata.com/Industries/Utilities">Utilities</a></li>
          </ul>
        </div>
      </li>
      <li class="col-12 col-md">
        <div>
          <span>Solutions</span>
          <ul>
            <li><a href="https://www.teradata.com/Solutions/Asset-Optimization">Asset
                Optimization</a></li>
            <li><a href="https://www.teradata.com/Vantage/Customer-Experience">Customer Experience</a></li>
            <li><a href="https://www.teradata.com/Solutions/Digital-Identity-Management">Digital Identity Management</a></li>
            <li><a href="https://www.teradata.com/Solutions/Dynamic-Supply-Chain">Dynamic Supply Chain</a></li>
            <li><a href="https://www.teradata.com/Solutions/Finance-Transformation">Finance Transformation</a></li>
            <li><a href="https://www.teradata.com/Solutions/Financial-Transformation-and-Visibility">Financial Visibility</a></li>
            <li><a href="https://www.teradata.com/Solutions/Fraud-Prevention">Fraud Prevention</a></li>
            <li><a href="https://www.teradata.com/Solutions/Operational-Excellence">Operational Excellence</a></li>
            <li><a href="https://www.teradata.com/Solutions/Operational-Resilience-Financial-Services">Operational Resilience</a></li>
            <li><a href="https://www.teradata.com/Solutions/Product-Innovation">Product Innovation</a></li>
            <li><a href="https://www.teradata.com/Solutions/Risk-Mitigation">Risk Mitigation</a></li>
            <li><a href="https://www.teradata.com/Solutions">See All Solutions</a></li>
          </ul>
        </div>
      </li>
      <li class="col-12 col-md">
        <div>
          <span>Trends</span>
          <ul>
            <li><a href="https://www.teradata.com/Solutions/Artificial-Intelligence">Artificial Intelligence</a></li>
            <li><a href="https://www.teradata.com/Solutions/Big-Data">Big Data</a></li>
            <li><a href="https://www.teradata.com/Trends/Cloud">Cloud</a></li>
            <li><a href="https://www.teradata.com/Trends/Data-Analytics">Data Analytics</a></li>
            <li><a href="https://www.teradata.com/Cloud/Data-Lake">Data Lake</a></li>
            <li><a href="https://www.teradata.com/Trends/Data-Management">Data Management</a></li>
            <li><a href="https://www.teradata.com/Trends/Data-Science">Data Science</a></li>
            <li><a href="https://www.teradata.com/Trends/Data-Warehouse">Data Warehouse</a></li>
            <li><a href="https://www.teradata.com/Solutions/IoT">IoT</a></li>
          </ul>
        </div>
      </li>
      <li class="col-12 col-md">
        <div>
          <span>Resources</span>
          <ul>
            <li><a href="https://www.teradata.com/Resources/Analyst-Content">Analyst Content</a></li>
            <li><a href="https://www.teradata.com/Blogs">Blog</a></li>
            <li><a href="https://www.teradata.com/Customers">Case Studies</a></li>
            <li><a href="https://www.teradata.com/University/Certification">Certification</a></li>
            <li><a href="https://www.teradata.com/Trends">Data Trends and Insights</a></li>
            <li><a href="https://www.teradata.com/Glossary">Glossary of Terms</a></li>
            <li><a href="https://www.teradata.com/Resources">Library</a></li>
            <li><a href="https://www.teradata.com/Resources/Webinars">Webinars</a></li>
            <li><a href="https://www.teradata.com/Resources/White-Papers">White Papers</a></li>
          </ul>
        </div>
      </li>
      <li class="col-12 col-md">
        <div>
          <span>About</span>
          <ul>
            <li><a href="https://www.teradata.com/About-Us">About Teradata</a></li>
            <li><a href="https://www.teradata.com/Careers">Careers</a></li>
            <li><a href="https://www.teradata.com/About-Us/Contact">Contact us</a></li>
            <li><a href="https://www.teradata.com/About-Us/Teradata-Response-Covid-19">COVID-19 Response</a></li>
            <li><a href="https://www.teradata.com/Customers">Customers</a></li>
            <li><a href="https://www.teradata.com/About-Us/Environmental-Social-Governance">Environmental Social Governance</a></li> 
            <li><a href="https://www.teradata.com/Events">Events</a></li>
            <li><a href="https://www.teradata.com/About-Us/Executive-Briefing-Center">Executive Briefing Center</a></li>
            <li><a href="https://www.teradata.com/Newsroom">Newsroom</a></li>
            <li><a href="https://www.teradata.com/Partners">Partners</a></li>
            <li><a href="https://www.teradata.com/University/Academics">Teradata Academics</a></li>
          </ul>
        </div>
      </li>
    </ul>
    <div class="row footer-nav__bottom">
      <div class="col-12 col-md-4">
        <!-- Removed Global dropdown -->
      </div>
      <div class="col-12 col-md-8">
        <ul class="footer_social">
          <li>
            <a href="https://www.linkedin.com/company/teradata" class="icon-social" target="_blank" rel="noopener" aria-label="Social Link - LinkedIn">
              <svg>
                <use xlink:href="#icon-social-linkedIn"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/teradata" class="icon-social" target="_blank" rel="noopener" aria-label="Social Link - Twitter">
              <svg>
                <use xlink:href="#icon-social-twitter"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/Teradata" class="icon-social" target="_blank" rel="noopener" aria-label="Social Link - Facebook">
              <svg>
                <use xlink:href="#icon-social-facebook"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/teradata/" class="icon-social" target="_blank" rel="noopener" aria-label="Social Link - Instagram">
              <svg>
                <use xlink:href="#icon-social-instagram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="https://www.youtube.com/user/teradata" class="icon-social" target="_blank" rel="noopener" aria-label="Social Link - Youtube">
              <svg>
                <use xlink:href="#icon-social-youTube"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="https://www.teradata.com/rss" class="icon-social" aria-label="Social Link - RSS">
              <svg>
                <use xlink:href="#icon-social-rss"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="footer-nav__spacer"></div>
      </div>
    </div>
    <div class="row footer-nav__baseline">
      <div class="col-12 col-lg-3">
        <span class="copyright">©2023 Teradata. All Rights Reserved</span>
      </div>
      <div class="col-12 col-lg-9 d-flex justify-content-lg-end">
        <ul>
          <li><a href="https://www.teradata.com/Privacy">Privacy</a></li>
          <li><a href="https://www.teradata.com/Legal/Terms-of-Use">Terms of Use</a></li>
          <li><a href="https://www.teradata.com/Legal/Legal-Notice">Legal</a></li>
          <li><a href="https://www.teradata.com/Product-Support-Policy">Support Policies</a></li>
          <li><a href="#tracking-consent">Tracking Consent</a></li>
        </ul>
      </div>
    </div>
  </section>
</footer>
