<footer class="footer" style="display: flex;">
      <span>©{{ year }} Teradata. All Rights Reserved.</span>
      <span style="margin-left: auto"><a href="#tracking-consent">Tracking Consent</a></span>
</footer>
