<div class="body">
  <main class="article">
    <div class="content landing">
      <div class="landing-container">
        <div class="call-to-action">
          <div class="call-to-action-text">
            <div class="header">Getting Started</div>
            <div class="short-description">Get quickly up to speed with Teradata Vantage. Learn about features. Find how-to's for common tasks. Explore sample source code.</div>
            <div class="button-container"><a class="call-to-action-button" href="#getting-access-to-vantage">Get access to Vantage</a></div>
          </div>
        </div>
        <div class="search-input-container">
          <input id="search-input" type="text" placeholder="Search Getting Started">
        </div>
        <div class="tile-container" id="getting-access-to-vantage">
          <div class="title">Quick Starts</div>
          <div class="tile-section">
            <div class="tile-section-title">Getting access to Teradata Vantage</div>
            <div class="tile-section-container">
              <div class="tile">
                <div class="tile-title">Vantage Express on VMWare</div>
                <div class="tile-content">Learn how to install Vantage Express on your machine for development and testing.</div>
                <div class="tile-tags">
                  <div class="tag">Access Vantage</div>
                </div>
              </div>
              <div class="tile">
                <div class="tile-title">Vantage Express on VirtualBox</div>
                <div class="tile-content">Run Vantage Express on your local machine with VirtualBox.</div>
                <div class="tile-tags">
                  <div class="tag">Access Vantage</div>
                </div>
              </div>
              <div class="tile">
                <div class="tile-title">Vantage Express on UTM</div>
                <div class="tile-content">Run Vantage Express on your Mac with UTM. Apple chipset supported.</div>
                <div class="tile-tags">
                  <div class="tag">Access Vantage</div>
                </div>
              </div>
              <div class="tile">
                <div class="tile-title">Vantage Express on GCP</div>
                <div class="tile-content">Run Vantage Express in the cloud on GCP.</div>
                <div class="tile-tags">
                  <div class="tag">Access Vantage</div>
                </div>
              </div>
            </div>
            <div class="tile-section-title">Basics</div>
            <div class="tile-section-container">
              <div class="tile">
                <div class="tile-title">Query data in object storage</div>
                <div class="tile-content">Learn how to analyze data stored in object storage using SQL.</div>
                <div class="tile-tags">
                  <div class="tag">Basics</div>
                </div>
              </div>
              <div class="tile">
                <div class="tile-title">Connect to Vantage using JDBC</div>
                <div class="tile-content">Explore sample Java application that retrieves data from Vantage using JDBC.</div>
                <div class="tile-tags">
                  <div class="tag">Basics</div>
                </div>
              </div>
              <div class="tile">
                <div class="tile-title">Use Vantage from a Jupyter notebook</div>
                <div class="tile-content">Use Jupyter notebooks to do data science on Vantage.</div>
                <div class="tile-tags">
                  <div class="tag">Basics</div>
                </div>
              </div>
              <div class="tile">
                <div class="tile-title">Deploy Teradata Jupyter extensions to JupyterHub</div>
                <div class="tile-content">Follow instructions to deploy Teradata Jupyter extensions in your own JupyterHub instance.</div>
                <div class="tile-tags">
                  <div class="tag">Basics</div>
                </div>
              </div>
              <div class="tile">
                <div class="tile-title">Run scripts on Vantage</div>
                <div class="tile-content">Bring logic to your data. Leverage Teradata's scale to worith with data using applications and scripts.</div>
                <div class="tile-tags">
                  <div class="tag">Basics</div>
                </div>
              </div>       
              <div class="tile">
                <div class="tile-title">Run large bulkloads efficiently</div>
                <div class="tile-content">Explore tools for loading massive amounts of data into Vantage.</div>
                <div class="tile-tags">
                  <div class="tag">Basics</div>
                </div>
              </div>                        
            </div>    
            <div class="tile-section-title">Tutorials</div>
            <div class="tile-section-container">
              <div class="tile">
                <div class="tile-title">Use dbt with Teradata Vantage</div>
                <div class="tile-content">Learn how to use dbt, a leading ELT tool, with Teradata Vantage.</div>
                <div class="tile-tags">
                  <div class="tag">Tutorials</div>
                </div>
              </div>
            </div>
            <div class="tile-section-title">How-Tos</div>
            <div class="tile-section-container">
              <div class="tile">
                <div class="tile-title">Query Teradata Vantage from a Mulesoft service</div>
                <div class="tile-content">This how-to demonstrates how to run queries on Vantage using a REST service built on Mulesoft.</div>
                <div class="tile-tags">
                  <div class="tag">How-Tos</div>
                </div>
              </div>
              <div class="tile">
                <div class="tile-title">Configure ODBC on Ubuntu</div>
                <div class="tile-content">Follow step-by-step instructions to get a working Vantage ODBC configuration on Ubuntu.</div>
                <div class="tile-tags">
                  <div class="tag">How-Tos</div>
                </div>
              </div>
              <div class="tile">
                <div class="tile-title">Store events from Twillio Segment</div>
                <div class="tile-content">Clone and run a sample project that listens to Twillio Segment events and stores them in Vantage.</div>
                <div class="tile-tags">
                  <div class="tag">How-Tos</div>
                </div>
              </div>
              <div class="tile">
                <div class="tile-title">Use AWS SageMaker with Vantage</div>
                <div class="tile-content">In this detailed how-to you will learn how to export data from Vantage to train a model in AWS SageMaker.</div>
                <div class="tile-tags">
                  <div class="tag">How-Tos</div>
                </div>
              </div>
            </div>                                 
          </div>
        </div>
      </div>
      </div>
    </div>
  </main>
</div>

<style>

  @media screen and (min-width: 1200px) {
    .landing-container {
      width: 1200px;
    }
  }

  @media screen and (max-width: 1200px) {
    .landing-container {
      width: 100%;
    }
  }

  .landing-container {
    margin-left: 16px;
    margin-right: 16px;
  }

  .landing {
    margin-top: 61px;
    top: 110px;
    display: flex;
    width: 100%;
    justify-content: center;
    padding-bottom: 30px;
  }

  .call-to-action {
    background: rgba(133, 221, 220, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    border-radius: 8px;
    width: 100%;
    height: 241px;
    background-image: url('{{uiRootPath}}/img/illustration.svg');
    background-repeat: no-repeat;
    background-position: right;
    background-origin: content-box;
    padding: 0px 10px 10px 0;
    margin-top: 48px;
  }

  .call-to-action-text {
    padding: 40px;
  }
  .call-to-action-text .header {
    font-family: RidleyGrotesk, Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.87);
  }

  .call-to-action-text .short-description {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.6);
    width: 50%;
    padding-top: 4px;
  }

  .search-input-container {
    width: 100%;
    margin-top: 20px;
  }

  .search-input-container #search-input {
    width: 100%;
  }

  .tile-container {
    padding: 46px 14px 0px 14px;
    width: 100%;
    margin: auto;
  }

  .tile-container .title {
    font-family: RidleyGrotesk, Arial, Helvetica, sans-serif;
    font-size: 48px;
    line-height: 64px;
    color: rgba(0, 0, 0, 0.87);
  }

  .tile-section {
  }

  .tile-section-title {
    font-family: RidleyGrotesk, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.87);
    padding-top: 24px;
  }

  .tile {
    width: 370px;
    height: 188px;
    background: #FFFFFF;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 16px;
    position: relative;
  }

  .tile-section-container {
    display: grid;
    grid-column-gap: 30px;
    grid-row-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    padding-top: 8px;
  }

  .tile-title {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.87);
  }

  .tile-content {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 16px;
  }

  .tag {
    background: #E0E0E0;
    border-radius: 16px;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    padding: 6px 12px;
    width: fit-content;
  }

  .tile-tags {
    position: absolute;
    bottom: 16px;
  }

  .call-to-action-button {
    background: #007373;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 1px 5px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    text-transform: uppercase;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    font-family: RidleyGrotesk, Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.87);
    padding: 11px 12px;
    margin-top: 25px;
  }

  .call-to-action-button:hover {
    text-decoration: none;
  }
</style>
