{{#with page.navigation}}
<div class="nav-panel-menu is-active" data-panel="menu">
  <nav class="nav-menu">
    <div id="en" style="visibility: hidden; display:none">
      {{> nav-tree navigation=this}}
    </div>
    <ul class="nav-list">
        {{> sub-nav-menu-jp }}
    </ul>
  </nav>
</div>
{{/with}}

<script>
  var path = document.location.href;
  var matchResult = path.match(/\/(es|ja)\//);
  var language;
  if (matchResult) {
    language = matchResult[1];
  } else {
    language = 'en';
  }
  console.log("lan: ",language);

  document.getElementById(language).style.visibility = 'visible';
  document.getElementById(language).style.display = 'block';
  var parts = path.split('/');
  var pagina = parts[parts.length-2];
  var elementosMenu = document.querySelectorAll('.nav-item a');
  elementosMenu.forEach(function(elemento) {
    if (elemento.href === path) {
      elemento.parentNode.classList.add('is-current-page');
    }
  });
</script>