<div class="possible-banner-2">
  <div class="text-section">
      <p class="text-1">
        <span class="display-1">If you imagine it, envision it, create it... Teradata makes it Possible. Join us. </span>
        <span class="display-2">"If you imagine it...Teradata makes it Possible. </span>
        <a class="register-now" href="https://www.teradata.com/events/possible" target="_blank" aria-label="If you imagine it, envision it, create it... Teradata makes it Possible. Join us." data-gtm-category="banner" data-gtm-action="leaderboard" data-gtm-label="Register now" data-intellimize-exp-417218923="true">
          Register now.
        </a> 
      </p>
  </div>
</div>



<style>
.possible-banner-2{
  background: #DFE1F9;
  position: relative;
  height: 50px;
  top: 20px;
  flex-shrink: 0;
  display:none;
}
.text-section{
  text-align: center;
  padding: 10px 0px 10px 0px;
}
.text-1{
  color: #171A2C;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.register-now{
  color: #171A2C;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}
  .display-2{
    display: none;
  }
@media (max-width: 600px) {
  .text-section {
    padding: 1px 0px 1px 0px;  
  }
  .display-1{
    display: none;
  }
  .display-2{
    display: block;
  }
}
</style>