<div id="ja">
  <li class="nav-item is-active is-current-path" data-depth="0">
    <ul class="nav-list">
      <li class="nav-item is-active is-current-path" data-depth="0">
    <ul class="nav-list">
      <li class="nav-item is-active" data-depth="1">
        <button class="nav-item-toggle"></button>
        <span class="nav-text" style="cursor: pointer;">はじめに</span>
    <ul class="nav-list">
      <li class="nav-item is-active" data-depth="2">
        <a class="nav-link" href="../general/teradata-vantage-engine-architecture-and-concepts.html">Teradata Vantage エンジンのアーキテクチャと概念</a>
      </li>
    </ul>
      </li>
      <li class="nav-item is-active is-current-path" data-depth="1">
        <button class="nav-item-toggle"></button>
        <span class="nav-text" style="cursor: pointer;">Vantageへのアクセス</span>
    <ul class="nav-list">
      <li class="nav-item is-current-path" data-depth="2">
        <button class="nav-item-toggle"></button>
        <span class="nav-text" style="cursor: pointer;">ローカル</span>
    <ul class="nav-list">
      <li class="nav-item is-active" data-depth="3">
        <a class="nav-link" href="../general/getting.started.vmware.html">VMware で Vantage Express を実行する方法</a>
      </li>
      <li class="nav-item is-active" data-depth="3">
        <a class="nav-link" href="../getting.started.vbox.html">VirtualBox で Vantage Express を実行する方法</a>
      </li>
      <li class="nav-item is-active" data-depth="3">
        <a class="nav-link" href="../general/getting.started.utm.html">UTM で Vantage Express を実行する方法</a>
      </li>
    </ul>
      </li>
      <li class="nav-item" data-depth="2">
        <button class="nav-item-toggle"></button>
        <span class="nav-text" style="cursor: pointer;">クラウド インフラストラクチャ</span>
    <ul class="nav-list">
      <li class="nav-item is-active" data-depth="3">
        <a class="nav-link" href="../general/run-vantage-express-on-aws.html">AWS で Vantage Express を実行する方法</a>
      </li>
      <li class="nav-item is-active" data-depth="3">
        <a class="nav-link" href="../general/vantage.express.gcp.html">Google Cloud で Vantage Express を実行する方法</a>
      </li>
      <li class="nav-item is-active" data-depth="3">
        <a class="nav-link" href="../general/run-vantage-express-on-microsoft-azure.html">Azure で Vantage Express を実行する方法</a>
      </li>
    </ul>
      </li>
    </ul>
      </li>
      <li class="nav-item is-active" data-depth="1">
        <button class="nav-item-toggle"></button>
        <span class="nav-text" style="cursor: pointer;">Vantage への接続</span>
    <ul class="nav-list">
      <li class="nav-item is-active" data-depth="2">
        <a class="nav-link" href="../general/install-teradata-studio-on-mac-m1-m2.html">Apple Mac M1/M2でTeradata Studio/Expressを使用する</a>
      </li>
      <li class="nav-item is-active" data-depth="2">
        <a class="nav-link" href="../other-integrations/configure-a-teradata-vantage-connection-in-dbeaver.html">DBeaverでのTeradata Vantageの接続設定</a>
      </li>
      <li class="nav-item is-active" data-depth="2">
        <button class="nav-item-toggle"></button>
        <span class="nav-text" style="cursor: pointer;">ODBCの設定</span>
    <ul class="nav-list">
      <li class="nav-item is-active" data-depth="3">
        <a class="nav-link" href="../general/odbc.ubuntu.html">Ubuntu</a>
      </li>
    </ul>
      </li>
    </ul>
      </li>
      <li class="nav-item is-active" data-depth="1">
        <button class="nav-item-toggle"></button>
        <span class="nav-text" style="cursor: pointer;">データの管理</span>
    <ul class="nav-list">
      <li class="nav-item is-active" data-depth="2">
        <a class="nav-link" href="../general/nos.html">オブジェクトストレージに保存されたクエリデータ</a>
      </li>
      <li class="nav-item is-active" data-depth="2">
        <a class="nav-link" href="../general/select-the-right-data-ingestion-tools-for-teradata-vantage.html">Teradata Vantageに適したデータ取り込みソリューションを選択する</a>
      </li>
      <li class="nav-item is-active" data-depth="2">
        <a class="nav-link" href="../general/dbt.html">Teradata Vantage dbt</a>
      </li>
      <li class="nav-item is-active" data-depth="2">
        <a class="nav-link" href="../general/advanced-dbt.html">Teradata Vantage を使用した高度な dbt のユースケース</a>
      </li>
      <li class="nav-item is-active" data-depth="2">
        <a class="nav-link" href="../modelops/using-feast-feature-store-with-teradata-vantage.html">Teradata VantageとFEASTで拡張性の高いフィーチャーストアを実現</a>
      </li>
      <li class="nav-item is-active" data-depth="2">
        <a class="nav-link" href="../other-integrations/getting.started.dbt-feast-teradata-pipeline.html">dbt と FEAST を使用して Teradata Vantage でフィーチャストアを構築する方法</a>
      </li>
      <li class="nav-item is-active" data-depth="2">
        <a class="nav-link" href="../elt/use-airbyte-to-load-data-from-external-sources-to-teradata-vantage.html">Airbyte を使用して外部ソースから Teradata Vantage にデータをロードする方法</a>
      </li>
      <li class="nav-item is-active" data-depth="2">
        <a class="nav-link" href="../elt/transforming-external-data-loaded-via-airbyte-in-teradata-vantage-using-dbt.html">Transform data Loaded with Airbyte using dbt</a>
      </li>
      <li class="nav-item is-active" data-depth="2">
        <a class="nav-link" href="../tools-and-utilities/run-bulkloads-efficiently-with-teradata-parallel-transporter.html">TPTでデータロード</a>
      </li>
      <li class="nav-item is-active" data-depth="2">
        <a class="nav-link" href="../general/create-parquet-files-in-object-storage.html">VantageからのオブジェクトストアへのParquetファイルの作成</a>
      </li>
      <li class="nav-item is-active" data-depth="2">
        <a class="nav-link" href="../other-integrations/execute-airflow-workflows-that-use-dbt-with-teradata-vantage.html">dbtを使用するAirflowワークフローをTeradata Vantageを使って実行してみる</a>
      </li>
      <li class="nav-item is-active" data-depth="2">
        <a class="nav-link" href="../cloud-guides/integrate-teradata-vantage-to-salesforce-using-amazon-appflow.html">Amazon Appflowを使用してVantageからSalesforceへ接続する方法</a>
      </li>
      <li class="nav-item is-active" data-depth="2">
        <a class="nav-link" href="../general/segment.html">Twilio Segmentからイベントを保存する方法</a>
      </li>
      <li class="nav-item is-active" data-depth="2">
        <a class="nav-link" href="../cloud-guides/connect-azure-data-share-to-teradata-vantage.html">Azure Data Share を Teradata Vantage に接続する</a>
      </li>
      <li class="nav-item is-active" data-depth="2">
        <a class="nav-link" href="../cloud-guides/integrate-teradata-vantage-with-google-cloud-data-catalog.html">Teradata VantageとGoogle Cloud Data Catalogを統合する</a>
      </li>
      <li class="nav-item is-active" data-depth="2">
        <a class="nav-link" href="../other-integrations/configure-a-teradata-vantage-connection-in-datahub.html">DataHubでのTeradata Vantageの接続設定</a>
      </li>
    </ul>
      </li>
      <li class="nav-item is-active" data-depth="1">
        <button class="nav-item-toggle"></button>
        <span class="nav-text" style="cursor: pointer;">アプリケーションの作成</span>
    <ul class="nav-list">
      <li class="nav-item is-active" data-depth="2">
        <a class="nav-link" href="../general/jdbc.html">JDBC を使用して Vantage に接続する方法</a>
      </li>
      <li class="nav-item is-active" data-depth="2">
        <a class="nav-link" href="../general/teradatasql.html">Python を使用して Vantage に接続する方法</a>
      </li>
      <li class="nav-item is-active" data-depth="2">
        <a class="nav-link" href="../general/mule.jdbc.example.html">Mule サービスから Teradata Vantage をクエリ</a>
      </li>
      <li class="nav-item is-active" data-depth="2">
        <a class="nav-link" href="../query-service/send-queries-using-rest-api.html">REST APIを使ってVantageにクエリーを送信する方法</a>
      </li>
    </ul>
      </li>
      <li class="nav-item is-active" data-depth="1">
        <button class="nav-item-toggle"></button>
        <span class="nav-text" style="cursor: pointer;">データの分析</span>
    <ul class="nav-list">
      <li class="nav-item is-active" data-depth="2">
        <a class="nav-link" href="../general/jupyter.html">Jupyter NotebookからVantageを利用する方法</a>
      </li>
      <li class="nav-item is-active" data-depth="2">
        <a class="nav-link" href="../general/local.jupyter.hub.html">Teradata Jupyter ExtensionsをJupyter Hubにデプロイする方法</a>
      </li>
      <li class="nav-item is-active" data-depth="2">
        <a class="nav-link" href="../general/ml.html">データベース分析関数を使用したVantageでのMLモデルのトレーニング</a>
      </li>
      <li class="nav-item is-active" data-depth="2">
        <a class="nav-link" href="../general/sto.html">Vantage でスクリプトを実行する方法</a>
      </li>
      <li class="nav-item is-active" data-depth="2">
        <a class="nav-link" href="../general/perform-time-series-analysis-using-teradata-vantage.html">時系列分析の実行</a>
      </li>
      <li class="nav-item is-active" data-depth="2">
        <a class="nav-link" href="../modelops/deploy-and-monitor-machine-learning-models-with-teradata-modelops-and-byom.html">ModelOps - 初めてのBYOMモデルのインポートとデプロイ</a>
      </li>
      <li class="nav-item is-active" data-depth="2">
        <a class="nav-link" href="../modelops/deploy-and-monitor-machine-learning-models-with-teradata-modelops-and-git.html">ModelOps - 初めてのGITモデルのインポートとデプロイ</a>
      </li>
      <li class="nav-item is-active" data-depth="2">
        <a class="nav-link" href="../cloud-guides/sagemaker-with-teradata-vantage.html">VantageからSageMakerのAPIを実行する方法</a>
      </li>
      <li class="nav-item is-active" data-depth="2">
        <a class="nav-link" href="../cloud-guides/use-teradata-vantage-with-azure-machine-learning-studio.html">VantageのデータをAzure Machine Learning Studioで使用する方法</a>
      </li>
      <li class="nav-item is-active" data-depth="2">
        <a class="nav-link" href="../cloud-guides/integrate-teradata-jupyter-extensions-with-google-vertex-ai.html">Google Vertex AIとTeradata Jupyterエクステンションを統合する</a>
      </li>
      <li class="nav-item is-active" data-depth="2">
        <a class="nav-link" href="../cloud-guides/integrate-teradata-jupyter-extensions-with-sagemaker.html">Teradata Jupyter Extentionsと SageMakerNotebookインスタンスの統合</a>
      </li>
      <li class="nav-item is-active" data-depth="2">
        <a class="nav-link" href="../business-intelligence/create-stunning-visualizations-in-power-bi-using-data-from-teradata-vantage.html">Vantage を使用して Power BI で視覚化を作成する</a>
      </li>
      <li class="nav-item is-active" data-depth="2">
        <a class="nav-link" href="../other-integrations/integrate-teradata-vantage-with-knime.html">KNIME Analytics PlatformとVantageを統合する</a>
      </li>
    </ul>
      </li>
      <li class="nav-item is-active" data-depth="1">
        <button class="nav-item-toggle"></button>
        <span class="nav-text" style="cursor: pointer;">Teradata AI Unlimited</span>
    <ul class="nav-list">
      <li class="nav-item is-active" data-depth="2">
        <a class="nav-link" href="../ai-unlimited/getting-started-with-ai-unlimited.html">Teradata AI Unlimited のスタートガイド</a>
      </li>
      <li class="nav-item is-active" data-depth="2">
        <button class="nav-item-toggle"></button>
        <span class="nav-text" style="cursor: pointer;">Dockerを使用してローカルにデプロイ</span>
    <ul class="nav-list">
      <li class="nav-item is-active" data-depth="3">
        <a class="nav-link" href="../ai-unlimited/install-ai-unlimited-workspaces-docker.html">Dockerを使用した Teradata AI Unlimited Workspaceサービスのデプロイとセットアップ</a>
      </li>
      <li class="nav-item is-active" data-depth="3">
        <a class="nav-link" href="../ai-unlimited/install-ai-unlimited-interface-docker.html">Dockerを使用した Teradata AI Unlimited インターフェースのデプロイ</a>
      </li>
    </ul>
      </li>
      <li class="nav-item is-active" data-depth="2">
        <a class="nav-link" href="../ai-unlimited/using-ai-unlimited-workspace-cli.html">Workspace Client で Teradata AI Unlimited を使用する</a>
      </li>
      <li class="nav-item is-active" data-depth="2">
        <button class="nav-item-toggle"></button>
        <span class="nav-text" style="cursor: pointer;">AWSへのデプロイ</span>
    <ul class="nav-list">
      <li class="nav-item is-active" data-depth="3">
        <a class="nav-link" href="../ai-unlimited/deploy-ai-unlimited-aws-cloudformation.html">AWS CloudFormation テンプレートを使用して Teradata AI Unlimited Workspace サービスとインターフェースをデプロイする</a>
      </li>
      <li class="nav-item is-active" data-depth="3">
        <a class="nav-link" href="../ai-unlimited/ai-unlimited-aws-permissions-policies.html">カスタム権限とポリシーを使用してAWSのアクセスと権限を制御する</a>
      </li>
      <li class="nav-item is-active" data-depth="3">
        <a class="nav-link" href="../ai-unlimited/deploy-ai-unlimited-awscli-cloudformation.html">AWS CLI から CloudFormation テンプレートをデプロイする</a>
      </li>
    </ul>
      </li>
      <li class="nav-item is-active" data-depth="2">
        <a class="nav-link" href="../ai-unlimited/running-sample-ai-unlimited-workload.html">Teradata AI Unlimitedを使用してJupyterLabでサンプルワークロードを実行する</a>
      </li>
      <li class="nav-item is-active" data-depth="2">
        <button class="nav-item-toggle"></button>
        <span class="nav-text" style="cursor: pointer;">参照</span>
    <ul class="nav-list">
      <li class="nav-item is-active" data-depth="3">
        <a class="nav-link" href="../ai-unlimited/ai-unlimited-magic-reference.html">Teradata AI Unlimited JupyterLab マジック コマンド リファレンス</a>
      </li>
    </ul>
      </li>
    </ul>
      </li>
      <li class="nav-item is-active" data-depth="1">
        <button class="nav-item-toggle"></button>
        <span class="nav-text" style="cursor: pointer;">VantageCloud Lake</span>
    <ul class="nav-list">
      <li class="nav-item is-active" data-depth="2">
        <a class="nav-link" href="../general/getting-started-with-vantagecloud-lake.html">VantageCloud Lake の使用を開始する</a>
      </li>
    </ul>
      </li>
    </ul>
      </li>
    </ul>
  </li>
</div>
      