<div id="es">
  <li class="nav-item is-active is-current-path" data-depth="0">
    <ul class="nav-list">
      <li class="nav-item is-active is-current-path" data-depth="0">
    <ul class="nav-list">
      <li class="nav-item is-active" data-depth="1">
        <button class="nav-item-toggle" title="nav-toggle" aria-label="nav-toogle"></button>
        <span class="nav-text" style="cursor: pointer;">Introducción</span>
    <ul class="nav-list">
      <li class="nav-item is-active" data-depth="2">
        <a class="nav-link" href="../general/teradata-vantage-engine-architecture-and-concepts.html">Arquitectura y conceptos del motor de Teradata Vantage</a>
      </li>
    </ul>
      </li>
      <li class="nav-item is-active is-current-path" data-depth="1">
        <button class="nav-item-toggle" title="nav-toggle" aria-label="nav-toogle"></button>
        <span class="nav-text" style="cursor: pointer;">Obtener acceso a Vantage</span>
    <ul class="nav-list">
      <li class="nav-item is-current-path" data-depth="2">
        <button class="nav-item-toggle" title="nav-toggle" aria-label="nav-toogle"></button>
        <span class="nav-text" style="cursor: pointer;">En su instalación local</span>
    <ul class="nav-list">
      <li class="nav-item is-active" data-depth="3">
        <a class="nav-link" href="../general/getting.started.vmware.html">Vantage Express en VMware</a>
      </li>
      <li class="nav-item is-active" data-depth="3">
        <a class="nav-link" href="../general/getting.started.vbox.html">Vantage Express en VirtualBox</a>
      </li>
      <li class="nav-item is-active" data-depth="3">
        <a class="nav-link" href="../general/getting.started.utm.html">Vantage Express en UTM</a>
      </li>
    </ul>
      </li>
      <li class="nav-item" data-depth="2">
        <button class="nav-item-toggle" title="nav-toggle" aria-label="nav-toogle"></button>
        <span class="nav-text" style="cursor: pointer;">En su infraestructura en la nube</span>
        <ul class="nav-list">
          <li class="nav-item is-active" data-depth="3">
            <a class="nav-link" href="../general/run-vantage-express-on-aws.html">Vantage Express en AWS</a>
          </li>
          <li class="nav-item is-active" data-depth="3">
            <a class="nav-link" href="../general/vantage.express.gcp.html">Vantage Express en Google Cloud</a>
          </li>
          <li class="nav-item is-active" data-depth="3">
            <a class="nav-link" href="../general/run-vantage-express-on-microsoft-azure.html">Vantage Express en Azure</a>
          </li>
        </ul>
      </li>
          <li class="nav-item" data-depth="2">
        <button class="nav-item-toggle" title="nav-toggle" aria-label="nav-toogle"></button>
        <span class="nav-text" style="cursor: pointer;">ClearScape Analytics Experience</span>
        <ul class="nav-list">
          <li class="nav-item is-active" data-depth="3">
            <a class="nav-link" href="../general/getting-started-with-csae.html">ClearScape Analytics Experience</a>
          </li>
        </ul>
      </li>
    </ul>
      </li>
      <li class="nav-item is-active" data-depth="1">
        <button class="nav-item-toggle" title="nav-toggle" aria-label="nav-toogle"></button>
        <span class="nav-text" style="cursor: pointer;">Conectarse a Vantage</span>
    <ul class="nav-list">
      <li class="nav-item is-active" data-depth="2">
        <a class="nav-link" href="../general/install-teradata-studio-on-mac-m1-m2.html">Utilice Teradata Studio/Express en Apple Mac M1/M2</a>
      </li>
      <li class="nav-item is-active" data-depth="2">
        <a class="nav-link" href="../other-integrations/configure-a-teradata-vantage-connection-in-dbeaver.html">Configurar una conexión a Teradata Vantage en DBeaver</a>
      </li>
      <li class="nav-item is-active" data-depth="2">
        <button class="nav-item-toggle" title="nav-toggle" aria-label="nav-toogle"></button>
        <span class="nav-text" style="cursor: pointer;">Configure ODBC</span>
    <ul class="nav-list">
      <li class="nav-item is-active" data-depth="3">
        <a class="nav-link" href="../general/odbc.ubuntu.html">Ubuntu</a>
      </li>
    </ul>
      </li>
    </ul>
      </li>
      <li class="nav-item is-active" data-depth="1">
        <button class="nav-item-toggle" title="nav-toggle" aria-label="nav-toogle"></button>
        <span class="nav-text" style="cursor: pointer;">Administrar datos</span>
    <ul class="nav-list">
      <li class="nav-item is-active" data-depth="2">
        <a class="nav-link" href="../general/nos.html">Consultar datos almacenados en el almacenamiento de objetos</a>
      </li>
      <li class="nav-item is-active" data-depth="2">
        <a class="nav-link" href="../general/select-the-right-data-ingestion-tools-for-teradata-vantage.html">Seleccionar la solución de ingesta de datos adecuada para Teradata Vantage</a>
      </li>
      <li class="nav-item is-active" data-depth="2">
        <a class="nav-link" href="../general/dbt.html">Teradata Vantage dbt</a>
      </li>
      <li class="nav-item is-active" data-depth="2">
        <a class="nav-link" href="../general/advanced-dbt.html">Casos de uso avanzados de dbt con Teradata Vantage</a>
      </li>
      <li class="nav-item is-active" data-depth="2">
        <a class="nav-link" href="../modelops/using-feast-feature-store-with-teradata-vantage.html">Crear un almacén de funciones FEAST en Teradata Vantage</a>
      </li>
      <li class="nav-item is-active" data-depth="2">
        <a class="nav-link" href="../other-integrations/getting.started.dbt-feast-teradata-pipeline.html">Utilizar dbt y FEAST para crear un almacén de funciones en Teradata Vantage</a>
      </li>
      <li class="nav-item is-active" data-depth="2">
        <a class="nav-link" href="../elt/use-airbyte-to-load-data-from-external-sources-to-teradata-vantage.html">Utilizar Airbyte para cargar datos de fuentes externas en Teradata Vantage</a>
      </li>
      <li class="nav-item is-active" data-depth="2">
        <a class="nav-link" href="../elt/transforming-external-data-loaded-via-airbyte-in-teradata-vantage-using-dbt.html">Transformar datos cargados con Airbyte mediante dbt</a>
      </li>
      <li class="nav-item is-active" data-depth="2">
        <a class="nav-link" href="../tools-and-utilities/run-bulkloads-efficiently-with-teradata-parallel-transporter.html">Cargar datos con TPT</a>
      </li>
      <li class="nav-item is-active" data-depth="2">
        <a class="nav-link" href="../general/create-parquet-files-in-object-storage.html">Crear archivos Parquet en el almacenamiento de objetos</a>
      </li>
      <li class="nav-item is-active" data-depth="2">
        <a class="nav-link" href="../other-integrations/execute-airflow-workflows-that-use-dbt-with-teradata-vantage.html">Ejecutar flujos de trabajo de Airflow que utilizan dbt con Teradata Vantage</a>
      </li>
      <li class="nav-item is-active" data-depth="2">
        <a class="nav-link" href="../cloud-guides/integrate-teradata-vantage-to-salesforce-using-amazon-appflow.html">Conectar Teradata Vantage a Salesforce mediante Amazon Appflow</a>
      </li>
      <li class="nav-item is-active" data-depth="2">
        <a class="nav-link" href="../general/segment.html">Almacenar eventos de Twilio Segment</a>
      </li>
      <li class="nav-item is-active" data-depth="2">
        <a class="nav-link" href="../cloud-guides/connect-azure-data-share-to-teradata-vantage.html">Conectar Azure Data Share a Teradata Vantage</a>
      </li>
      <li class="nav-item is-active" data-depth="2">
        <a class="nav-link" href="../cloud-guides/integrate-teradata-vantage-with-google-cloud-data-catalog.html">Integrar Teradata Vantage con Google Cloud Data Catalog</a>
      </li>
      <li class="nav-item is-active" data-depth="2">
        <a class="nav-link" href="../other-integrations/configure-a-teradata-vantage-connection-in-datahub.html">Configurar una conexión a Teradata Vantage en DataHub</a>
      </li>
    </ul>
      </li>
      <li class="nav-item is-active" data-depth="1">
        <button class="nav-item-toggle" title="nav-toggle" aria-label="nav-toogle"></button>
        <span class="nav-text" style="cursor: pointer;">Crear aplicaciones</span>
    <ul class="nav-list">
      <li class="nav-item is-active" data-depth="2">
        <a class="nav-link" href="../general/jdbc.html">Conectarse a Vantage mediante JDBC</a>
      </li>
      <li class="nav-item is-active" data-depth="2">
        <a class="nav-link" href="../general/teradatasql.html">Conectarse a Vantage mediante Python</a>
      </li>
      <li class="nav-item is-active" data-depth="2">
        <a class="nav-link" href="../general/mule.jdbc.example.html">Consultar Teradata Vantage desde un servicio Mule</a>
      </li>
      <li class="nav-item is-active" data-depth="2">
        <a class="nav-link" href="../query-service/send-queries-using-rest-api.html">Enviar consultas mediante REST API</a>
      </li>
    </ul>
      </li>
      <li class="nav-item is-active" data-depth="1">
        <button class="nav-item-toggle" title="nav-toggle" aria-label="nav-toogle"></button>
        <span class="nav-text" style="cursor: pointer;">Analizar datos</span>
    <ul class="nav-list">
      <li class="nav-item is-active" data-depth="2">
        <a class="nav-link" href="../general/jupyter.html">Utilizar Vantage desde un Jupyter Notebook</a>
      </li>
      <li class="nav-item is-active" data-depth="2">
        <a class="nav-link" href="../general/local.jupyter.hub.html">Implementar extensiones de Teradata Jupyter en JupyterHub</a>
      </li>
      <li class="nav-item is-active" data-depth="2">
        <a class="nav-link" href="../general/ml.html">Entrenar modelos de ML en Vantage usando funciones analíticas de bases de datos</a>
      </li>
      <li class="nav-item is-active" data-depth="2">
        <a class="nav-link" href="../general/sto.html">Ejecutar scripts en Vantage</a>
      </li>
      <li class="nav-item is-active" data-depth="2">
        <a class="nav-link" href="../general/perform-time-series-analysis-using-teradata-vantage.html">Realizar análisis de series temporales mediante Teradata Vantage</a>
      </li>
      <li class="nav-item is-active" data-depth="2">
        <a class="nav-link" href="../modelops/deploy-and-monitor-machine-learning-models-with-teradata-modelops-and-byom.html">ModelOps - importar e implementar su primer modelo BYOM</a>
      </li>
      <li class="nav-item is-active" data-depth="2">
        <a class="nav-link" href="../modelops/deploy-and-monitor-machine-learning-models-with-teradata-modelops-and-git.html">ModelOps - importar e implemente su primer modelo GIT</a>
      </li>
      <li class="nav-item is-active" data-depth="2">
        <a class="nav-link" href="../cloud-guides/sagemaker-with-teradata-vantage.html">Utilizar AWS SageMaker con Teradata Vantage</a>
      </li>
      <li class="nav-item is-active" data-depth="2">
        <a class="nav-link" href="../cloud-guides/use-teradata-vantage-with-azure-machine-learning-studio.html">Utilizar Teradata Vantage con Azure Machine Learning Studio</a>
      </li>
      <li class="nav-item is-active" data-depth="2">
        <a class="nav-link" href="../cloud-guides/integrate-teradata-jupyter-extensions-with-google-vertex-ai.html">Integrar las extensiones de Teradata Jupyter con Google Vertex AI</a>
      </li>
      <li class="nav-item is-active" data-depth="2">
        <a class="nav-link" href="../cloud-guides/integrate-teradata-jupyter-extensions-with-sagemaker.html">Integrar las extensiones de Teradata Jupyter con una instancia de cuaderno de SageMaker</a>
      </li>
      <li class="nav-item is-active" data-depth="2">
        <a class="nav-link" href="../business-intelligence/create-stunning-visualizations-in-power-bi-using-data-from-teradata-vantage.html">Crear visualizaciones en Power BI mediante Vantage</a>
      </li>
      <li class="nav-item is-active" data-depth="2">
        <a class="nav-link" href="../other-integrations/integrate-teradata-vantage-with-knime.html">Integrar Teradata Vantage con KNIME Analytics Platform</a>
      </li>
    </ul>
      </li>
      <li class="nav-item is-active" data-depth="1">
        <button class="nav-item-toggle" title="nav-toggle" aria-label="nav-toogle"></button>
        <span class="nav-text" style="cursor: pointer;">VantageCloud Lake</span>
    <ul class="nav-list">
      <li class="nav-item is-active" data-depth="2">
        <a class="nav-link" href="../general/getting-started-with-vantagecloud-lake.html">Primeros pasos con VantageCloud Lake</a>
      </li>
       <li class="nav-item is-active" data-depth="2">
        <a class="nav-link" href="../vantagecloud-lake/vantagecloud-lake-demo-jupyter-docker.html">Ejecutar demostraciones de Teradata Jupyter Notebook para VantageCloud Lake en Docker</a>
      </li>
      <li class="nav-item is-active" data-depth="2">
        <a class="nav-link" href="../vantagecloud-lake/vantagecloud-lake-demos-visual-studio-code.html">Ejecutar demostraciones de Teradata Jupyter Notebook para VantageCloud Lake en Visual Studio Code</a>
      </li>
      <li class="nav-item is-active" data-depth="2">
        <a class="nav-link" href="../vantagecloud-lake/vantagecloud-lake-demo-jupyter-sagemaker.html">Ejecutar demostraciones de Teradata Jupyter Notebook para VantageCloud Lake en Amazon SageMaker</a>
      </li>
      <li class="nav-item is-active" data-depth="2">
        <a class="nav-link" href="../vantagecloud-lake/vantagecloud-lake-demo-jupyter-google-cloud-vertex-ai.html">Ejecutar demostraciones de Teradata Jupyter Notebook para VantageCloud Lake en Google Cloud Vertex AI</a>
      </li>
      <li class="nav-item is-active" data-depth="2">
        <a class="nav-link" href="../vantagecloud-lake/vantagecloud-lake-demo-jupyter-azure.html">Ejecutar demostraciones de Teradata Jupyter Notebook para VantageCloud Lake en Microsoft Azure</a>
      </li>
    </ul>
      </li>
    </ul>
      </li>
    </ul>
  </li>
</div>
      