<aside class="toc sidebar" data-title="{{or page.attributes.toctitle 'Contents'}}" data-levels="{{{or page.attributes.toclevels 2}}}">
      <div class="page-controls">
      <a href="https://github.com/Teradata/quickstarts/issues"><div class="report-an-issue">Report an issue</div></a>
      <a href="{{page.editUrl}}"><div class="edit-on-github">Edit on GitHub</div></a>
    </div>
  <div class="toc-menu">
  </div>
</aside>
