
<!--<div class="body">-->
  <main class="article" id="home">
    <div class="content landing">
      <div class="landing-container">
        <div class="call-to-action">
          <div class="call-to-action-text">
            <div class="header">Getting Started</div>
            <div class="short-description">
              Get up to speed with Teradata Vantage. Learn about its features. Find solutions for common tasks. Explore sample source code.
            </div>
            <div class="button-container">
              <a class="call-to-action-button arrow" href="https://www.teradata.com/Getting-Started/Demos/ClearScape-Analytics" target="_blank" title="ClearScape Analytics">
                Try ClearScape
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9.35002 11.9669L8.63335 11.2669L11.4334 8.46686H2.66669V7.46686H11.4334L8.61669 4.6502L9.33335 3.9502L13.35 7.96686L9.35002 11.9669Z" fill="white"/>
                </svg>
              </a>
              <a class="call-to-action-button-secondary" href="#browse-content" title="Browse Content" rel="nofollow">
                Browse
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                  <path d="M9.35008 11.9669L8.63341 11.2669L11.4334 8.46686H2.66675V7.46686H11.4334L8.61675 4.6502L9.33341 3.9502L13.3501 7.96686L9.35008 11.9669Z" fill="#00233C"/>
                </svg>
              </a>
            </div>
            <div class="alternate-action">
              Existing customer or partner? Explore courses at <a href="https://teradata.com/University/Overview">Teradata University</a>.
            </div>
          </div>
        </div>
        <div class="search-input-container">
          <input id="search-input" type="text" placeholder="Search Getting Started">
        </div>
<div class="tile-container">
          <div class="tile-section">
            <div class="tile-section-title" id="browse-content">Select your edition</div>
            <div class="tile-section-container">
              <div class="tile">
                <a href="vantage.html">
                  <div class="link">
                    <div class="tile-title">Vantage</div>
                    <div class="tile-content">Learn how to analyze data stored in object storage using SQL.</div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="#">
                  <div class="link">
                    <div class="tile-title">VantageCloud Lake</div>
                    <div class="tile-content">Build machine learning models using only SQL - no coding and no data movement required.</div>
                  </div>
                </a>
              </div>
              <div class="tile">
                <a href="aiunlimited.html">
                  <div class="link">
                    <div class="tile-title">AI Unlimited</div>
                    <div class="tile-content">Learn how to use dbt, a leading ELT tool, with Teradata Vantage.</div>
                  </div>
                </a>
              </div>
            </div>
            </div>

      </div>
    </div>
  </main>
<!--</div>-->
