.tcom {
    font-size: 0.75rem;
    font-family: Inter, sans-serif;
  }
  .header-utility {
    height: 28px;
  }

  .hidden {
    height: 0px;
    overflow-y: hidden;
  }

  .display-menu{
    display: none;
  }
  .dev {
    font-size: 22px;
  /*  margin-top: 36px;*/
    color: #00233c;
    letter-spacing: 0.15px;
    margin-right: 100px;
    font-style: normal;
    font-weight: 400;
  }
  .dev:hover {
    text-decoration: none;
  }
  .line {
    width: 40px;
    height: 2px;
    flex-shrink: 0;
    border-radius: 30px;
    background: var(--primary-orange, #ff5f02);
    margin: 0px 0px 0px 41px;
  }
  
  .logo {
    height: auto;
  /*  margin-top: 30px;
    margin-left: -8px;*/
    margin-right: 16px;
  }
  
  /*Dropdowns*/
  .mt {
    margin-top: 32px;
    margin-bottom: 20px;
  }
  .mb {
    margin-bottom: 10px;
  }
  .ext-symbol {
    left: 270px;
    position: absolute;
  }
  .dropdown-content {
    width: 317px;
    height: 148px;
    top: 115px;
    display: none;
    position: absolute;
    background: #fff;
    overflow: hidden;
    transition: all 0.25s ease-in-out 0s;
    border-radius: 12px;
    box-shadow: 0 12px 24px -6px rgba(16, 24, 40, 0.18);
    z-index: 1;
  }
  .dc2 {
    width: 310px;
    height: 225px;
  }
  .show {
    display: block;
  }

  .dropdown-item {
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #00233c;
    background-color: #fff;
    height: 32px;
    display: flex;
    align-items: center;
    padding: 12px 24px;
    border-radius: 8px;
  }
  .dropdown-item:hover {
    text-decoration: none;
    color: #ff5f02;
  }
  .test {
    padding-bottom: 30px;
    background-color: white;
  }

  .custom-justify-content-between {
    justify-content: flex-start; 
  }
  
  .header-nav-mobile__top-links {
    margin-left: auto;
  }
  
  .developers {
    margin-left: 16px;
    color: #000;
    font-size: 18px;
  }
  
  .sidenav {
    transition: 0.5s;
  }
  @media (pointer: fine){
    ::-webkit-scrollbar-thumb {
      border: 0px; 
      border-radius: 0px;
    }
    html::-webkit-scrollbar {
      width: 17px;
    }
  }
  .header-nav__element.d-flex {
    display: flex;
    align-items: center;
  }
  
  .header-nav__element.d-flex a.dev {
    margin-top: 8px;  
  }
  @media screen and (min-width: 1024px){
    .nav {
      top: 7.3rem;
      -webkit-box-shadow: none;
      box-shadow: none;
      position: sticky;
      height: calc(100vh - 7.3rem);
    }
  }

  .list {
    list-style-type: none;
}