<!DOCTYPE html>

<html lang={{page.attributes.lang}}>
 
  <head>
    {{> head defaultPageTitle='Untitled'}}
  </head>
  <body>
    {{> landing}}
    {{> header}}
    {{> footer}}
  </body>
</html>
<script>
  var path = document.location.href;
  var matchResult = path.match(/\/(es|ja)\//);
  var language;
  if (matchResult) {
    language = matchResult[1];
  } else {
    language = 'en';
  }
</script>