<!DOCTYPE html>

<html lang={{page.attributes.lang}}>
 
  <head>
    {{> head defaultPageTitle='Untitled'}}
  </head>
  <body>
    {{> landing}}
    {{> header}}
    {{> footer}}
  </body>
</html>
<script>

</script>