# This is a basic workflow to help you get started with Actions

name: Publish to docs.teradata.com

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: ["main"]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  push:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      # Runs a single command using the runners shell
      - name: Archive and Send it
        env:
          FT_URL: https://my.fluidtopics.net/testascii/api/admin/khub/sources/test/upload?publisher=github
          FT_KEY: ${{ secrets.FT_API_KEY }}
        run: |
          zip -r archive.zip antora.yml modules
          curl -X POST --form "file=@archive.zip" --header "Authorization: Bearer $FT_KEY" $FT_URL
